<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Calendar</title>
    <link rel="stylesheet" href="/assets/css/calendar.css" />
  </head>
  <body>
    <div class="event-container">
      <h1 class="year">2025</h1>
    
     <!-- January -->
     <h3>January</h3>
  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/new.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">1</div>
        <div class="month">Jan</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">New Year's Day</h3>
      <div class="event-description">
        New Year's Day marks the first day of the year in the Gregorian calendar. It is celebrated with festivities worldwide.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/lohri.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">13</div>
        <div class="month">Jan</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Lohri</h3>
      <div class="event-description">
        Lohri is a Punjabi festival that marks the end of winter and the harvest of rabi crops.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
      </div>
    </div>
  </div>

<div class="event">
  <div class="event-left" style="background-image: url('/assets/img/calender/pongal.jpg');background-size: cover;">
    <div class="event-date">
      <div class="date">14</div>
      <div class="month">Jan</div>
    </div>
  </div>
  <div class="event-right">
    <h3 class="event-title">Pongal</h3>
    <div class="event-description">
      Pongal is a multi-day Hindu harvest festival dedicated to the Sun God, celebrated primarily in Tamil Nadu.
    </div>
    <div class="event-timing">
      <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
    </div>
  </div>
</div>

<div class="event">
  <div class="event-left" style="background-image: url('/assets/img/calender/makar.jpg');background-size: cover;">
    <div class="event-date">
      <div class="date">14</div>
      <div class="month">Jan</div>
    </div>
  </div>
  <div class="event-right">
    <h3 class="event-title">Makar Sankranti</h3>
    <div class="event-description">
      Makar Sankranti is a Hindu festival that marks the transition of the Sun into Capricorn and is celebrated with kite flying and sweets.
    </div>
    <div class="event-timing">
      <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
    </div>
  </div>
</div>

<div class="event">
  <div class="event-left" style="background-image: url('/assets/img/calender/republic.jpg');background-size: cover;">
    <div class="event-date">
      <div class="date">26</div>
      <div class="month">Jan</div>
    </div>
  </div>
  <div class="event-right">
    <h3 class="event-title">Republic Day</h3>
    <div class="event-description">
      Republic Day celebrates the adoption of the Indian Constitution on January 26, 1950, with parades and cultural events.
    </div>
    <div class="event-timing">
      <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
    </div>
  </div>
</div>
    
      <!-- February -->
<h3>February</h3>
<div class="event">
  <div class="event-left" style="background-image: url('/assets/img/calender/vasant.jpg');background-size: cover;">
    <div class="event-date">
      <div class="date">14</div>
      <div class="month">Feb</div>
    </div>
  </div>
  <div class="event-right">
    <h3 class="event-title">Vasant Panchami</h3>
    <div class="event-description">
      Vasant Panchami is a festival that marks the arrival of spring and is dedicated to Goddess Saraswati, the goddess of wisdom.
    </div>
    <div class="event-timing">
      <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
    </div>
  </div>
</div>

<div class="event">
  <div class="event-left" style="background-image: url('/assets/img/calender/mahashivratri.jpg');background-size: cover;">
    <div class="event-date">
      <div class="date">26</div>
      <div class="month">Feb</div>
    </div>
  </div>
  <div class="event-right">
    <h3 class="event-title">Maha Shivaratri</h3>
    <div class="event-description">
      Maha Shivaratri is a Hindu festival dedicated to Lord Shiva, celebrated with fasting, night-long vigils, and prayers.
    </div>
    <div class="event-timing">
      <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
    </div>
  </div>
</div>

  <!-- March -->
  <h3>March</h3>
  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/holi.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">24</div>
        <div class="month">Mar</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Holi</h3>
      <div class="event-description">
        Holi is the Hindu festival of colors that signifies the victory of good over evil and the arrival of spring.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
      </div>
    </div>
  </div>

        <!-- April -->
  <h3>April</h3>
  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/rama.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">2</div>
        <div class="month">Apr</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Ram Navami</h3>
      <div class="event-description">
        Ram Navami is a Hindu festival celebrating the birth of Lord Rama, the seventh avatar of Vishnu.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/mahavir.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">10</div>
        <div class="month">Apr</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Mahavir Jayanti</h3>
      <div class="event-description">
        Mahavir Jayanti celebrates the birth of Lord Mahavir, the 24th Tirthankara of Jainism.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/hanuman.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">13</div>
        <div class="month">Apr</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Hanuman Jayanti</h3>
      <div class="event-description">
        Hanuman Jayanti celebrates the birth of Lord Hanuman, a loyal devotee of Lord Rama.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
      </div>
    </div>
  </div>

        <!-- May -->
  <h3>May</h3>
  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/akshaya-tritiya.avif');background-size: cover;">
      <div class="event-date">
        <div class="date">2</div>
        <div class="month">May</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Akshaya Tritiya</h3>
      <div class="event-description">
        Akshaya Tritiya is an auspicious day in Hindu and Jain traditions, known for new beginnings and wealth-related activities.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/buddha.webp');background-size: cover;">
      <div class="event-date">
        <div class="date">23</div>
        <div class="month">May</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Buddha Purnima</h3>
      <div class="event-description">
        Buddha Purnima celebrates the birth, enlightenment, and death of Gautama Buddha.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" />More</a>
      </div>
    </div>
  </div>

    
      <!-- June -->
      <h3>June</h3>
      <div class="event">
        <div class="event-left" style="background-image: url('/assets/img/calender/raja.jpg');background-size: cover;">
          <div class="event-date">
            <div class="date">15</div>
            <div class="month">Jun</div>
          </div>
        </div>
        <div class="event-right">
          <h3 class="event-title">Raja Sankranti</h3>
          <div class="event-description">
            Raja Sankranti, also known as Mithuna Sankranti, is a traditional festival celebrated in Odisha marking the arrival of the monsoon season.
          </div>
          <div class="event-timing">
            <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left" style="background-image: url('/assets/img/calender/yoga.jpg');background-size: cover;">
          <div class="event-date">
            <div class="date">21</div>
            <div class="month">Jun</div>
          </div>
        </div>
        <div class="event-right">
          <h3 class="event-title">International Yoga Day</h3>
          <div class="event-description">
            International Yoga Day is observed to raise awareness of the many benefits of practicing yoga.
          </div>
          <div class="event-timing">
            <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
          </div>
        </div>
      </div>
    
      <!-- July -->
  <h3>July</h3>
  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/rath.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">3</div>
        <div class="month">Jul</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Rath Yatra</h3>
      <div class="event-description">
        Rath Yatra is a major Hindu festival associated with Lord Jagannath held at Puri in Odisha. Devotees participate in the pulling of chariots carrying the deities.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>calender/

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/eid.webp');background-size: cover;">
      <div class="event-date">
        <div class="date">7</div>
        <div class="month">Jul</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Eid al-Adha</h3>
      <div class="event-description">
        Eid al-Adha, also known as Bakrid, is an Islamic festival commemorating the willingness of Ibrahim to sacrifice his son as an act of obedience to Allah.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>
    
      <!-- August -->
  <h3>August</h3>
  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/raksha_bandhan.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">9</div>
        <div class="month">Aug</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Raksha Bandhan</h3>
      <div class="event-description">
        Raksha Bandhan celebrates the bond between brothers and sisters, marked by the tying of a protective thread by the sister on her brother's wrist.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/independence.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">15</div>
        <div class="month">Aug</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Independence Day</h3>
      <div class="event-description">
        Independence Day commemorates the nation's independence from British rule in 1947, celebrated with flag hoisting, parades, and cultural events.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/onam.webp');background-size: cover;">
      <div class="event-date">
        <div class="date">28</div>
        <div class="month">Aug</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Onam</h3>
      <div class="event-description">
        Onam is a harvest festival celebrated in Kerala, featuring traditional boat races, dances, and a grand feast known as Onasadya.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

    <!-- September -->
  <h3>September</h3>
  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/ganesh.webp');background-size: cover;">
      <div class="event-date">
        <div class="date">18</div>
        <div class="month">Sep</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Ganesh Chaturthi</h3>
      <div class="event-description">
        Ganesh Chaturthi is celebrated with great enthusiasm to honor Lord Ganesha, the remover of obstacles.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/vishwakarma.avif');background-size: cover;">
      <div class="event-date">
        <div class="date">17</div>
        <div class="month">Sep</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Vishwakarma Puja</h3>
      <div class="event-description">
        Vishwakarma Puja is dedicated to Lord Vishwakarma, the divine architect, and celebrated by artisans and engineers.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>
      <!-- October -->
  <h3>October</h3>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/navami.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">2</div>
        <div class="month">Oct</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Maha Navami</h3>
      <div class="event-description">
        Maha Navami marks the ninth day of Navratri, dedicated to Goddess Durga and celebrated with prayers and feasts.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/dussehra.avif');background-size: cover;">
      <div class="event-date">
        <div class="date">3</div>
        <div class="month">Oct</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Dussehra</h3>
      <div class="event-description">
        Dussehra signifies the victory of good over evil, marking Lord Rama's triumph over Ravana.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/kc.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">21</div>
        <div class="month">Oct</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Karva Chauth</h3>
      <div class="event-description">
        Karva Chauth is a fasting ritual observed by married Hindu women for the well-being of their husbands.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/valmiki.jpeg');background-size: cover;">
      <div class="event-date">
        <div class="date">28</div>
        <div class="month">Oct</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Valmiki Jayanti</h3>
      <div class="event-description">
        Valmiki Jayanti celebrates the birth of Sage Valmiki, the author of the Ramayana.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>
   <!-- November -->
  <h3>November</h3>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/dhanteras.avif');background-size: cover;">
      <div class="event-date">
        <div class="date">1</div>
        <div class="month">Nov</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Dhanteras</h3>
      <div class="event-description">
        Dhanteras marks the beginning of the Diwali celebrations, associated with wealth and prosperity.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/diwali.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">3</div>
        <div class="month">Nov</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Diwali</h3>
      <div class="event-description">
        Diwali, the festival of lights, symbolizes the triumph of light over darkness and good over evil.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/govardhan.avif');background-size: cover;">
      <div class="event-date">
        <div class="date">4</div>
        <div class="month">Nov</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Govardhan Puja</h3>
      <div class="event-description">
        Govardhan Puja celebrates Lord Krishna lifting the Govardhan Hill to save villagers from a storm.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/bhai_dooj.avif');background-size: cover;">
      <div class="event-date">
        <div class="date">5</div>
        <div class="month">Nov</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Bhai Dooj</h3>
      <div class="event-description">
        Bhai Dooj celebrates the bond between brothers and sisters, marked by rituals and feasting.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>
    
     <!-- December -->
  <h3>December</h3>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/gita.jpeg');background-size: cover;">
      <div class="event-date">
        <div class="date">7</div>
        <div class="month">Dec</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Gita Jayanti</h3>
      <div class="event-description">
        Gita Jayanti marks the birth of the sacred Bhagavad Gita, a scripture of Hindu philosophy.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>

  <div class="event">
    <div class="event-left" style="background-image: url('/assets/img/calender/christmas.jpg');background-size: cover;">
      <div class="event-date">
        <div class="date">25</div>
        <div class="month">Dec</div>
      </div>
    </div>
    <div class="event-right">
      <h3 class="event-title">Christmas</h3>
      <div class="event-description">
        Christmas celebrates the birth of Jesus Christ and is marked by joyful gatherings, prayers, and feasting.
      </div>
      <div class="event-timing">
        <a href="https://www.india.gov.in/calendar"><img src="images/time.png" alt="" /> More</a>
      </div>
    </div>
  </div>
    </div>
    
  </body>
</html>