<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/placesexp.css" rel="stylesheet" crossorigin="anonymous">
    
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">    
  <link rel="shortcut icon" href="favicon.png">
    
    <title>Explore Heritage Sites of India</title>
</head>
<body>

    <div class="wrapper">
        <div class="top img-overlay"></div>
        <img src="../assets/img/heritage.jpg" alt="food" class="bg-img" />
        <h2>Step into Heritage</h2>

        <h2 id="header"></h2>

        <div id="search-container">
            <!-- Search Input -->
            <input type="text" id="search-input" placeholder="Search places" />
            <button id="search">Search</button>
        </div>

        <div id="restaurant"></div> <!-- This is where the place cards will be appended -->

    </div>

    <script type="text/javascript" src="../assets/js/hplaces.js"></script>

</body>
</html>
