<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password | Soul of India</title>
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
  <div class="wrapper">
    <form action="/auth/reset-password/<%= userId %>" method="POST">
      <h1>Reset Password</h1>
      <% if (error_msg) { %>
        <p class="error" style="color: red;"><%= error_msg %></p>
      <% } %>
      <% if (success_msg) { %>
        <p class="success" style="color: green;"><%= success_msg %></p>
      <% } %>
      <div class="input-box">
        <input type="password" name="password" placeholder="New Password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <button type="submit" class="btn">Reset Password</button>
    </form>
  </div>
</body>
</html>
